site_name: FastAPI Cruddy
theme:
  name: material
  palette:
    - scheme: default
      primary: deep purple
      accent: amber
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode
    - scheme: slate
      primary: deep purple
      accent: amber
      toggle:
        icon: material/lightbulb-outline
        name: Switch to light mode
  features:
    - search.suggest
    - search.highlight
    - content.tabs.link
    - navigation.indexes
    - navigation.path
    - navigation.sections
    - content.tooltips
    - content.code.annotate
    - content.code.copy
    - content.code.select
  icon:
    repo: fontawesome/brands/github-alt
  # logo: img/icon-white.svg
  # favicon: img/favicon.png
  language: en
repo_name: mdconaway/fastapi-cruddy-framework
repo_url: https://github.com/mdconaway/fastapi-cruddy-framework
edit_uri: ""

nav:
  - Introduction: index.md
  - features.md
  - databases.md
  - Tutorial - User Guide:
      - tutorial/index.md
      - tutorial/creating-your-first-resource.md
      - tutorial/configuration.md
      - tutorial/data-modeling.md
      - tutorial/resource-management.md
      - tutorial/adding-policies.md
      - tutorial/adding-middleware.md
      - tutorial/extending-the-controller.md
  - Concepts:
      - concepts/index.md
      - concepts/app_structure.md
      - concepts/adapters.md
      - concepts/config.md
      - Controllers: concepts/controllers/
      - concepts/graphql.md
      - concepts/middleware.md
      - concepts/models.md
      - concepts/policies.md
      - concepts/repository.md
      - Resources: concepts/resources/
      - concepts/router.md
      - concepts/schemas.md
      - concepts/services.md
      - concepts/utils.md
      - concepts/query-language.md
      - concepts/testing.md
      - concepts/validators.md
      - concepts/websockets.md
  - API - Reference: /reference/
  - alternatives.md
  - help.md
  - contributing.md
  - release-notes.md

markdown_extensions:
  # Python Markdown
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true

  # Python Markdown Extensions
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      check_paths: true
      url_download: false
      url_max_size: 33554432
      url_timeout: 10
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

plugins:
  - gen-files:
      scripts:
        - scripts/gen_ref_pages.py
  - literate-nav
  - mkdocstrings:
      handlers:
        python:
          paths: [fastapi_cruddy_framework]

extra:
  analytics:
    provider: google
    property:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/mdconaway/fastapi-cruddy-framework

extra_css:
  - css/termynal.css
  - css/custom.css

extra_javascript:
  - js/termynal.js
  - js/custom.js
